In [7]:
from pandas import DataFrame
from sklearn.feature_extraction.text import CountVectorizer

text_data = ['This is a sample sentence', 'Another example Sentence', 'One more text sentence']

vec = CountVectorizer(analyzer='char')
encoded_data = vec.fit_transform(text_data)

DataFrame(encoded_data.toarray(), columns=vec.vocabulary_)

   t  h  i  s     a  m  p  l  e  n  c  o  r  x
0  4  2  1  4  1  2  1  1  2  0  1  0  4  2  0
1  2  2  1  6  1  0  1  1  3  1  1  1  1  2  1
2  3  0  1  6  0  0  0  1  3  2  0  1  1  3  1

In [19]:
text_data = ['This is a sample sentence', 'Another example Sentence', 'One more text sentence']
characters = list(set(' '.join(text_data)))
print(len(characters))
characters = list(set(' '.join(text_data).lower()))
print(len(characters))

19
15

In [13]:
for idx, i in enumerate(characters):
    print(i, idx)

l 0
o 1
i 2
n 3
x 4
O 5
s 6
r 7
S 8
T 9
c 10
t 11
p 12
  13
A 14
h 15
a 16
e 17
m 18