In [60]:
import pandas as pd
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords

text = ''' Steven Paul Jobs was an American entrepreneur, business magnate, industrial designer, media proprietor, and investor. 
           He was the co-founder, chairman, and CEO of Apple; the chairman and majority shareholder of Pixar; a member of The 
           Walt Disney Company's board of directors following its acquisition of Pixar; and the founder, chairman, and CEO of 
           NeXT. He is widely recognized as a pioneer of the personal computer revolution of the 1970s and 1980s, along with 
           his early business partner and fellow Apple co-founder Steve Wozniak.

           Steven Paul Jobs was born in San Francisco to a Syrian father and German-American mother. He was adopted shortly after his birth. 
           Jobs attended Reed College in 1972 before withdrawing that same year. In 1974, he traveled through India seeking 
           enlightenment before later studying Zen Buddhism. He and Wozniak co-founded Apple in 1976 to sell Wozniak's Apple 
           I personal computer. Together the duo gained fame and wealth a year later with production and sale of the Apple II, 
           one of the first highly successful mass-produced microcomputers. Jobs saw the commercial potential of the Xerox Alta 
           in 1979, which was mouse-driven and had a graphical user interface (GUI). This led to the development of the 
           unsuccessful Apple Lisa in 1983, followed by the breakthrough Macintosh in 1984, the first mass-produced computer 
           with a GUI. The Macintosh introduced the desktop publishing industry in 1985 with the addition of the Apple 
           Laserwriter, the first laser printer to feature vector graphics. '''

## Removing stopwords and creating vocab

In [33]:
words = []

for word in word_tokenize(text):
    if word.lower() not in stopwords.words('english') and len(word) > 1:
        words.append(word.lower())
        
vocab = list(set(words))

## Creating count dictionary

In [44]:
word_freq = {}

for word in vocab:
    word_freq[word] = 0              # starting the inital count of all unique stopwords as 0

## Count the frequency of words

In [63]:
words = []

for word in word_tokenize(text):
    if word.lower() not in stopwords.words('english') and len(word) > 1:
        words.append(word.lower())                                             # Getting words which are not stopwords

for word in words:
    word_freq[word] = word_freq[word] + 1                                      # Counting the occurence of each unique word

## Creating dataframe for sorting

In [64]:
data = []

for key in word_freq.keys():
    data.append([key, word_freq[key]])
    
df = pd.DataFrame(data, columns = ['word', 'freq'])           # Creating DataFrame df

df.sort_values(by = 'freq', ascending=False).head()           # Filtering the words with maximum occurence

        word  freq
43     apple    14
24      jobs     8
66  computer     6
60  chairman     6
6      first     6

## Title for the given corpus

In [100]:
df_pr = df.sort_values(by = 'freq', ascending=False).head(3)     # Title may be the one among the top 3 maximum occuring words
df_pr                                                            # in the text

        word  freq
43     apple    14
24      jobs     8
66  computer     6